# Ignore all the intermediate files built in the debug and release subdirectories
**/debug
**/release
**/ui_h
#ignore all these extensions (intermediate files, vs2012 database etc)
*.obj
*.res
*.Debug
*.Release
*.opensdf
*.sdf
*.suo
*.pdb
Makefile*.*
Makefile
*.dat
ui_*
branches/busmezzo/gui/ui_parametersdialog_qt4.h

*.user

*.DS_Store
*.o
*.a
*.tmp
branches/busmezzo/standalone/mezzo_s.xcodeproj
branches/busmezzo/mezzo_lib/mezzo_lib.xcodeproj

trunk/gui/gui.pro.user.c969961

trunk/mezzoAnalyzer/mezzoAnalyzer.pro.user.c969961

*.c969961
*.db
branches/busmezzo/mezzo.VC.VC.opendb
*.opendb
trunk/gui/debug_log.txt
trunk/gui/link_log.txt
*.stash
branches/busmezzo/gui/ControlStrategy10.txt
*.txt
