*.obj
branches/busmezzo/gui/debug/mezzo.res
*.Debug
branches/busmezzo/gui/Makefile.Release
*.opensdf
branches/busmezzo/mezzo.sdf
*.suo
branches/busmezzo/gui/vc110.pdb
*.Release
branches/busmezzo/mezzo_lib/Makefile
branches/busmezzo/gui/Makefile